.editParent {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    height: 85%;
    background-color: whitesmoke;
    border: 2px solid black;

}

.editParent form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.editParent label {
    margin-bottom: 2%;
}

.editParent * {
    margin-bottom: 5%;
}

.editinput{
    border-radius: 8px;
    border-color: deepskyblue;
    height: 60px;
}

.editbutton{
    border-radius: 6px;
}