

/*--- Partie pour les entrées de formulaire ---*/
.form__group {
  position: relative;
  padding: 20px 0 0;
  margin-top: 10px;

}
.form__field_event {
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid #000000;
  outline: 0;
  font-size: 1.3rem;
  color: #000000;
  padding: 7px 0;
  padding-left: 25px;
  background: transparent;
  transition: border-color 0.2s;
  border-radius: 10px;
}
.form__field_event::placeholder {
  color: transparent;
}
.form__field_event:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  padding-left: 10px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #000000;
}
.form__field_event:focus {
  padding-bottom: 6px;
  font-weight: 500;
  border-width: 2px;
  border-image: linear-gradient(to right, #000000 , #000000);
  border-image-slice: 1;
}
.form__field_event:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #000000;
  font-weight: 500;
}
/* reset input */
.form__field_event:required, .form__field_event:invalid {
  box-shadow: none;
}

/*-------------------------------*/

.event{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #575757;

}

.mcbutton{
  padding: 5px 24px;
  vertical-align: middle;
}

.recherche{
  border: 2px solid #000000;
  padding-bottom: 10px;
}

.printevent{
  background-color: aliceblue;
}