.profilParent {
    margin-left: 20%;
    margin-right: 20%;
    margin-top : 1%;
    background-color: whitesmoke;
    height: 85%;
    border-radius: 10px;
}

.profilTop {
    background-color:rgb(200, 230, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1%;
    display: flex;
    overflow: hidden;
    border: 2px solid black;
}

.profilTopRight {
    margin-left: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profilTop img {
    width: 150px;
    height: 150px;
    border-radius: 200px;
    border: 2px solid black;
}

.profilPseudo {
    margin: 0;
    font-size: 200%;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.profilTop .link {
    align-self: end;
    text-decoration: none;
    font-size: 120%;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 0.5%;
}

.profilTop .link:hover {
    color: black;
    background-color: whitesmoke;
}
